.main-slide{
    height: 500px;
    background: url(../images/main-slide.jpg) no-repeat center center;
    background-size: cover;
    .wrapper{
        height: 500px;
    }
}
main {
    .wrapper{
        height: 500px;
    }
}