/* fonts */
@import url("https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css");

.nexon {
  font-family: "NexonLv1Gothic";
  font-weight: 400;
}

#header{
    .navbar {
      z-index: 75;
      box-shadow: 0 2px 4px 0 hsl(0deg 0% 81% / 50%);

      .container {
        width: 100%;
      }
      .header_desktop_container{
        display: block;
        padding: 0 32px;
        height: 64px;
        
        .content{
          display: flex;
          height: 100%;
          .brand_header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            min-width: 200px;
            a{
              display: inline-flex;
              align-items: center;
              height: 100%;
              text-decoration:none;
              font-weight: 600;
            }
            h3{
              font-weight: 600;
            }
        }
        .navbar-menu {
          display: grid;
          grid-template-columns: 2fr 0.7fr 3fr ;
          width: 100%;
          .navbar-left {
            display: flex;
            height: 100%;
            .navbar-item {
              padding: 0.5rem 0.5rem;
              margin: auto 0;
          }
        }

        .navbar-right{
          margin: auto 0;
          display:grid;
          grid-template-columns: 1.5fr 1fr 1fr;
        }


        }
        }
      }

    }
}
